<!DOCTYPE html>
<html lang="en">
<head>
    <title>Form filling</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <style>
        .block {
  display: block;
  width: 100%;
  border: none;
  background-color: Lavendar;
  padding: 20px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
    </style>

</head>
<body style="font-family: 'Roboto', sans-serif;" class="d-flex flex-column min-vh-100" >
<a href="formfill"><button type="button" class="block">FORM</button></a>



</body>
</html>